:root {
  --brand-color: #ff6c00;
  --white-color: #ffffff;
  --subtitle-black-color: #303030;
  --paragraph-color-black: #555555;
  --paragraph-color-white: #9da4bd;
  --subtitle-white-color: rgba(157, 164, 189, 0.6);
  --black-color: black;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 1.66;
}
.unstyled-list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--subtitle-black-color);
}
.text {
  color: var(--paragraph-color-black);
}

/* Hero-Header stilization */
.header-container {
  display: flex;
  border: 2px solid green;
}
.hero-header-section {
  display: flex;
  border: 2px solid red;
  background-color: var(--black-color);
  width: 1070px;
  height: 680px;
  flex-direction: column;
}
.logo-container {
  display: flex;
  border: 2px solid orangered;
  flex-direction: column;
  flex-basis: 155px;
  margin-left: 160px;
}
.principal-navigation {
  display: flex;
  border: 2px solid blue;
  flex-basis: 1070px;
  padding-top: 45px;
  margin-right: 0px;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  border: 2px solid red;
  margin-left: 80px;
  gap: 30px;
  flex-direction: row;
  padding: 0px 0px 0px 0px;
}
.contact-list {
  display: flex;
  border: 2px solid yellow;
  gap: 40px;
  flex-direction: row;
  padding-right: 20px;
  padding-bottom: 0px;
}
.hero-text-container {
  display: flex;
  border: 2px solid white;
}

.social-media-link {
  color: var(--subtitle-black-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.nav-link,
.contact-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-color);
}
.social-media-link:hover,
.social-media-link:focus,
.social-media-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.contact-link:hover,
.contact-link:focus,
.contact-link:active {
  color: var(--brand-color);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-color);
}
.hero-text-container .subtitle {
  color: var(--subtitle-white-color);
}
.hero-text-container .text {
  color: var(--paragraph-color-white);
}
.button-nav {
  box-sizing: border-box;
  padding: 12px 20px 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 2px solid var(--brand-color);
  border-radius: 25px;
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
}
.button-nav:hover,
.button-nav:focus,
.button-nav:active {
  background-color: var(--brand-color);
}
